html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  position: relative;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.form .container form h2, .section-3 h2, .section-2 h2, .section-1 h2 {
  color: #111;
  font-family: "Raleway";
  font-size: 50px;
  font-weight: 600;
  line-height: 32px;
  margin: 0 0 72px;
  text-align: center;
}

.form .container form p, .section-3 p, .section-2 p, .section-1 p {
  color: #000;
  font-family: "Raleway";
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* margin: 0 0 24px; */
  text-align: center;
}

body {
  background-color: #659dbd;
  position:relative;
}

.mdi {
  display: inline-block;
  font: normal normal normal 24px/1 "Material Design Icons";
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.container {
  max-width: 1250px;
  margin: 10px auto;
  padding: 10px;
}

.header {
  width: 100%;
  height: 75px;
  background-color: #1b242f;
  position: fixed;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 10000;
}
.header .container {
  width: 1250px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: space-between;
}
.header nav {
  display: flex;
  align-items: center;
  margin-right: 20%;
}
.header nav ul a {
  font-family: "Raleway";
  font-weight: 500;
}
.header .logo {
  height: 75px;
  width: 300px;
}
.header .logo .logo-img {
  width: 100%;
  height: 75px;
}
.header .nav-link {
  margin: 0 25px;
  font-family: "Raleway";
  font-size: 23px;
  color: #fff;
  text-decoration: none;
}
.header .nav-link:hover {
  color: #e31b6d;
}

.section-1 {
  padding-top: 120px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.section-1 .container {
  height: inherit;
  background-color: #fff;
  padding: 15px;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}
.section-1 p {
  color: #fff;
}
.section-1 .img-container {
  width: 1200px;
  height: 230px;
  display: flex;
  flex-direction: row;
  text-align: center;
}
.section-1 .image-style {
  width: 30%;
  background-color: #15162b;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.404);
  margin: 0 auto;
  border-radius: 20px;
}
.section-1 .image-style img {
  width: 100%;
  display: inline;
  border-radius: 20px 20px 0 0;
}
.section-1 .image-style .img-text p {
  text-align: center;
}

.section-2 {
  margin-top: 50px;
}
.section-2 .container {
  height: inherit;
  background-color: #fff;
  padding: 15px;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}
.section-2 h2 {
  margin: 20px 0 30px;
}
.section-2 p {
  padding: 40px;
}

.section-3 {
  margin: 50px 0 80px;
}
.section-3 .container {
  height: inherit;
  background-color: #fff;
  padding: 15px;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}
.section-3 h2 {
  margin: 20px 0 30px;
}
.section-3 p {
  padding: 40px;
}
.section-3 .end-text p {
  text-align: center;
  font-weight: 600;
}

/* Order */
.form {
  padding: 75px 0 0;
  position: relative;
  min-height: 75vh;
}
.form .container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.form .container form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: inherit;
  background-color: #fff;
  padding: 30px;
  margin: 25px 0 0;
  border-radius: 20px;
}
.form .container form h2 {
  width: inherit;
  margin: 0 auto;
  font-size: 35px;
  padding: 20px 0 35px;
}
.form .container form .input {
  display: flex;
  flex-direction: column;
  width: inherit;
  margin: 15px auto;
}
.form .container form .input .input-form {
  width: 250px;
  padding: 10px;
  margin: 10px;
  border-radius: 20px;
  outline: none;
}
.form .container form .input textarea {
  padding: 10px;
  border-radius: 20px;
  outline: none;
}
.form .container form .login-form-h2 {
  margin: 0 0 10px;
  padding: 0;
}
.form .container form .login-form {
  margin: 10px 0;
}
.form .container form .button-div {
  margin: 0 auto;
  display: flex;
  flex-direction: row-reverse;
}
.form .container form .button-div a {
  text-decoration: none;
}
.form .container form .button-div .submit {
  font-family: "Raleway";
  background: transparent;
  color: #1b242f;
  font-size: 12pt;
  margin: 5px 5px 0;
  outline: 0;
  padding: 10px 30px;
  border: 2px solid #1b242f;
  cursor: pointer;
  transition: all 0.5s;
  border-radius: 20px;
}
.form .container form .button-div .submit:hover {
  background-color: #1b242f;
  color: #fff;
}
.form .container .register {

}

footer {
  background-color: #1b242f;
  color: #fff;
  position: relative;
  bottom: 0px;
  width:100%;
  height:170px;
}
footer .container{
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer .container .link-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: inherit;
  height: inherit;
}

footer .container .link-container .pre-footer-link {
  background: #262f38;
        cursor: pointer;
        font-size: 18pt;
        height: 40px;
        margin: 0 15px;
        overflow: hidden;
        position: relative;
        text-align: center;
        width: 55px;
        border-radius: 20px;

        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
}

footer .container .link-container .pre-footer-link .mdi {
  font-size: 24px;
  color: #fff;
}

footer .container .footnote {
  margin-top: 20px;
  font-family: "Raleway";
  color: #fff;
  text-transform: uppercase;
}

footer .container span {
  color: pink;
}